<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">


<meta property="og:title" content="유태우의 기술블로그" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://ytw060309.github.io/blog/" />
<meta property="og:image" content="" />

<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/blog/assets/css/style.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168067909-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-168067909-1');
</script>

<title>{{ page.title | default: site.title }}</title>
{% seo %}